{% if nodes is defined %}
	<nav>
		<ul class="flex items-center gap-4">
			{% for node in nodes %}
				<li class="group">
					{% if  node.children is not empty %}
						{% if node.nodeType == 'category' and node.resourceId is defined %}
							<a hx-get="/category/{{ node.resourceId }}" hx-push-url="true" hx-swap="multi:#main,#head-title outerHTML" class="p-4 hover:bg-slate-400/50" href="/category/{{ node.resourceId }}">{{ node.title }}</a>
						{% else %}
							<a class="p-4 hover:bg-slate-400/50" href="#">{{ node.title }}</a>
						{% endif %}

						<ul class="absolute z-10 left-0 w-full top-full flex flex-col gap-2 -mt-5 p-4 bg-slate-300 invisible opacity-0 transition group-hover:visible group-hover:opacity-100">
							{% for child in node.children %}
								{% if child.nodeType == 'category' and child.resourceId is defined %}
									<li>
										<a hx-get="/category/{{ child.resourceId }}" hx-push-url="true" hx-swap="multi:#main,#head-title outerHTML" class="p-2 hover:bg-slate-400/50" href="/category/{{ child.resourceId }}">{{ child.title }}</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% elseif node.nodeType == 'category' and node.resourceId is defined %}
						<a hx-get="/category/{{ node.resourceId }}" hx-push-url="true" hx-swap="multi:#main,#head-title outerHTML" class="p-2 hover:bg-slate-400/50" href="/category/{{ node.resourceId }}">{{ node.title }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endif %}
