{% block header %}
	<div class="bg-slate-300 mb-8 relative">
		{% if headerData is defined %}
			<nav class="grid grid-cols-[1fr,auto,1fr] p-4 mx-auto">
				<ul class="flex items-center gap-4 ">
					{% for node in headerData.nodes %}
						<li>
							{% if node.nodeType == 'category' and node.resourceId is defined %}
								<a hx-get="/category/{{ node.resourceId }}" hx-push-url="true" hx-target="main" class="p-4 hover:bg-slate-400/50" href="/category/{{ node.resourceId }}">{{ node.title }}</a>
								{% else %}

								{# <span class="p-4">
																	{{ node.title }}
																</span> #}


							{% endif %}
						</li>
					{% endfor %}
				</ul>
				<a class="font-bold p-4 mx-auto" hx-boost="true" href="/">LOGO</a>
			</nav>
			{# extended nav #}
			{# <div class="absolute top-full bg-inherit">
													<ul>
														{% for node in headerData.nodes[0].children %}
															<li>
																{% if node.nodeType == 'category' and node.resourceId is defined %}
																	<a hx-get="/category/{{ node.resourceId }}" hx-push-url="true" hx-target="main" href="/category/{{ node.resourceId }}">{{ node.title }}</a>
																{% else %}
																	<span>{{ node.title }}</span>
																{% endif %}
															</li>
														{% endfor %}
													</li>
												</ul> #}

		</div>
	{% endif %}
</div>{% endblock %}
